<div style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('assets/images/bg.jpg');background-size: cover; 
    height:100%; overflow: auto; opacity: 75%; 
    display: flex; flex-direction: column;">

    <app-header-bar></app-header-bar>

    <div class="container p-3" style="margin-top: 10px;">
        <div class="row align-items-center">
            <div class="col text-end">
                <i class="material-icons-outlined" style="font-size: 40px; color:bisque">
                    manage_search
                </i>
            </div>

            <div class="col-sm-10">
                <input type="text" class="form-control p-3" id="exampleFormControlInput1"
                    placeholder="What movie are you looking for?" [(ngModel)]="searchText"
                    (keydown.enter)="getSearchText($event)">
            </div>

            <div class="col-sm">
                <button style="background-color: transparent; border: 0;">
                    <img src="/assets/images/enter-key.svg" />
                </button>
            </div>

        </div>
    </div>

    <div class="container mt-5 align-items-center">
        <div class="row align-items-center">
            <i class="material-icons-outlined float-start">
                theaters
            </i>
            <h1>Movies</h1>
        </div>

        <div class="row">
            <mat-tab-group>
                <mat-tab [label]="'All'">
                    
                </mat-tab>
                <mat-tab [label]="'Current'">

                </mat-tab>
                <mat-tab [label]="'Upcoming'">

                </mat-tab>
            </mat-tab-group>
        </div>
            

    <div class="container px-3 py-4">
        <div class="movie-items m-2 p-4" style="background-color: rgba(255, 255, 255, 0.6); border-radius: 10px;"
            *ngFor="let movie of moviesList; let i = index">

            <div class="row">
                <div class="col-sm-10">
                    <h1
                        style="text-transform: uppercase; font-family: 'Fredoka One', cursive; filter: drop-shadow(3px 3px 3px black); font-size: 40px;">
                        {{moviesList[i].title}}
                    </h1>
                </div>
                <div class="col text-end pt-4 pt-lg-0">
                    <button class="btn btn-outline-danger" *ngIf="userRole === 'admin'">
                        <i class="material-symbols-outlined text-center justify-content-md-center"
                            style="font-size: 20px;">
                            delete
                        </i>
                    </button>
                </div>
                <div class="col pt-4 pt-lg-0">
                    <img src="{{'https://image.tmdb.org/t/p/w300' + moviesList[i].poster_path}}" class="float-start"
                        style="height: 150px; width:270px; margin-right:15px; border-radius: 10px;">
                    <p style="margin-left:10px; margin-right: 20px;">
                        {{moviesList[i].overview}}
                    </p>
                </div>
            </div>

            <div class="row justify-content-end">
                <button class="btn btn-outline-light"
                    style="font-size: 20px; font-weight: bold; width:20%; margin-right: 10px;">
                    <a routerLink="movie-details" style="text-decoration: none; color: antiquewhite;">More details</a>
                </button>
            </div>

        </div>
    </div>

</div>