p {
    text-align: justify;
}

.container{
    filter: drop-shadow(3px 3px 3px black);
}

h1 {
    font-family: 'Permanent Marker', cursive; 
    color: bisque; 
    font-size: 50px; 
    text-align: left;
}

.col-md-3 {
    width: fit-content;
}

.material-icons-outlined {
    font-size: 70px; color: bisque; padding-right: 10px;
}