p {
    text-align: justify;
}

.container{
    filter: drop-shadow(0px 2px 2px black);
}

h1 {
    font-family: 'Permanent Marker', cursive; 
    color: bisque; 
    font-size: 50px; 
    text-align: left;
    width: fit-content;
}

.col-md-3 {
    width: fit-content;
}

.material-icons-outlined {
    width: 90px;
    font-size: 70px; 
    color: bisque;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:black;
    background-color: rgba(255, 255, 255);
    font-size: 17px;
    border-bottom: coral ;
}

::ng-deep .mat-tab-list .mat-tab-label {
    color:white;
    background-color: transparent;
    font-size: 17px;
}

::ng-deep .mat-tab-group {
  font-family: 'Inria Sans', sans-serif;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: black !important;
}