<div style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('assets/images/bg.jpg');background-size: cover;
    height:100%; overflow: auto; opacity: 75%;
    display: flex; flex-direction: column;">

    <app-header-bar></app-header-bar>

    <div class="container p-3" style="margin-top: 10px;">
        <div class="row align-items-center">
            <div class="col text-end">
                <i class="material-icons-outlined" style="font-size: 40px; color:bisque">
                    manage_search
                </i>
            </div>

            <div class="col-sm-10">
                <input type="text" class="form-control p-3" id="exampleFormControlInput1"
                    placeholder="What movie are you looking for?" [(ngModel)]="searchText"
                    (keydown.enter)="getSearchText($event)">
            </div>

            <div class="col-sm">
                <button style="background-color: transparent; border: 0;">
                    <img src="/assets/images/enter-key.svg" />
                </button>
            </div>
        </div>
    </div>

    <div class="container mt-5 align-items-center">
        <div class="row align-items-center">
            <i class="material-icons-outlined float-start">
                theaters
            </i>
            <h1>Movies</h1>
        </div>

        <!-- ------------------------------------------MOVIES LIST-------------------------------------- -->
        <div class="row mt-3 align-items-center" style="width:500px;">
            <div class="col align-items-center">
                <button class="btn btn-outline-light" style="margin-right:0;" (click)="getAll()">All</button>
                <button class="btn btn-outline-light" (click)="getCurrent()">Current</button>
                <button class="btn btn-outline-light" (click)="getUpcoming()">Upcoming</button>
            </div>

        </div>


        <div class="container px-3 py-4">
            <div class="movie-items m-2 p-4" style="background-color: rgba(255, 255, 255, 0.6); border-radius: 10px;"
                *ngFor="let movie of filteredMovies">

                <div class="row">
                    <div class="col-sm-10">
                        <h1 class="movie-title">
                            {{movie.original_title}}
                        </h1>
                        <p class="upcoming-tag" *ngIf="isUpcomming(movie.release_date)">
                            UPCOMING: {{movie.release_date}}
                        </p>
                    </div>

                    <div class="col text-end pt-lg-0">

                        <button type="button" *ngIf="isAdmin && userIsAuthenticated" (click)="onClick(movie.id)" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <i class="material-symbols-outlined text-center justify-content-md-center"
                                style="font-size: 20px;">
                                delete
                            </i>
                        </button>
                    </div>

                    <div class="col pt-4 pt-lg-0">
                        <img src="{{'https://image.tmdb.org/t/p/w300' + movie.poster_path}}" class="float-start"
                            style="height: 200px;margin-right:15px; border-radius: 10px;">
                        <p style="margin-left:10px; margin-right: 20px;">
                            {{movie.overview}}
                        </p>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <button class="btn btn-outline-light"
                        style="font-size: 20px; font-weight: bold; width:20%; margin-right: 10px;">
                        <a [routerLink]="['/movie-details', movie.original_title]"
                            style="text-decoration: none; color: antiquewhite;">More details
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <!-- ------------------------------------------END OF MOVIES LIST-------------------------------------- -->
    </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete Movie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this movie?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="onDeleteMovie()">Confirm</button>
            </div>
        </div>
    </div>
</div>