p {
    text-align: justify;
}

.container{
    filter: drop-shadow(3px 3px 3px black);
}

h1 {
    font-family: 'Permanent Marker', cursive; 
    color: bisque; 
    font-size: 50px; 
    text-align: left;
    width: fit-content;
}

.col-md-3 {
    width: fit-content;
}

.material-icons-outlined {
    width: 90px;
    font-size: 70px; 
    color: bisque;
}

@mixin custom-tabs-theme() {
  .mat-tab-label-active  {
    border-width: 9px;
    border-style: solid;
    border-color: orange;
  }

  .mat-tab-label {
    color: antiquewhite;
  }
}