<div style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url('assets/images/marcel-background.jpg');background-size: cover; 
    height:100%; overflow: auto; opacity: 75%; 
    display: flex; flex-direction: column;">
    <app-header-bar></app-header-bar>

    <div class="row w-100" style="margin-top: 130px; margin-bottom: 130px;">
        <div class="col-7">
          
        </div>
        <div class="col-5 text-start">
            
          <h1>Marcel the Shell With Shoes On</h1>
          <div class="row text-start" style="margin-top: 20px; padding-right: 20px;">
            <div class="col-7"><p>Animation, Mockumentary, Drama, Family</p></div>
            <div class="col-2"><p>4.7/5</p></div>
            <div class="col-2"><p>1h30m</p></div>
          </div>

          <div class="row text-start" style="margin-top: 10px; padding-right: 20px;">
            <p style="font-weight: normal;">Marcel is an adorable one-inch-tall shell who ekes out a colorful existence with his grandmother Connie and their pet lint, Alan. Once part of a sprawling community of shells, they now live alone as the sole survivors of a mysterious tragedy. But when a documentary filmmaker discovers them amongst the clutter of his Airbnb, the short film he posts online brings Marcel millions of passionate fans, as well as unprecedented dangers and a new hope at finding his long-lost family. A beloved character gets his big-screen debut in this hilarious and heartwarming story about finding connection in the smallest corners.</p>
          </div>

          <div class="row justify-content-center">
            <button class="btn btn-outline-light" style="font-size: 15px; font-weight: bold; width:20%; margin-right: 10px;">
                <a routerLink="movie-details" style="text-decoration: none; color: antiquewhite;">Book</a>
            </button>
          </div>

        </div>
      </div>

</div>