<nav class="navbar navbar-light navbar-expand-md justify-content-md-center justify-content-start"
  style="background-color: rgba(255, 255, 255, 0.18);">

  <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">

    <a class="nav-link navbar-brand mx-0 d-none d-md-inline" href="" routerLink="/">
      <h3 style="color: bisque;">1235Movies</h3>
    </a>
  </div>

  <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
    <img src="assets/images/icons8-film-reel-100.png" style="filter: invert(70%); height:50px;">
  </div>
  <!-- -------------------------------------Login/Register---------------------------------------  -->
  <div class="navbar-collapse collapse justify-content-end align-items-center" *ngIf="!userIsAuthenticated">
    <button type="button" class="btn btn-outline-info"
      style="color: antiquewhite; margin-left: 10px; padding:5px; width:70px;" routerLink="/login">
      Login
    </button>
    <button type="button" class="btn btn-outline-warning"
      style="color: antiquewhite; margin-left: 10px; padding:5px; width:70px;" routerLink="/register">
      Register
    </button>
  </div>
  <!-- -------------------------------------Login/Register---------------------------------------  -->
  <!-- -------------------------------------Logged In---------------------------------------  -->
  <div class="navbar-collapse collapse justify-content-end align-items-center" *ngIf="userIsAuthenticated">
    <h2 style="font-size: 13px; padding-right: 15px; color:bisque; margin-bottom: 0;">
      Welcome,
      {{username}}</h2>
    <img class="rounded-circle shadow-4-strong" alt="User Profile" src="assets/images/user-profile.png"
      style="height:50px; width:50px;" />


          <!-- Default dropstart button -->
      <div class="btn-group dropstart">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="material-symbols-outlined" style="padding-bottom:0;">
            list
          </i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/add-movie">Add movies</a></li>
          <li><a class="dropdown-item" routerLink="/report">View current report</a></li>
        </ul>
      </div>
    <button type="button" class="btn btn-outline-info" (click)="onLogout()" routerLink="" style="color: antiquewhite;">
      <span class="material-symbols-outlined">
        logout
      </span>
    </button>
  </div>
  <!-- -------------------------------------Logged In---------------------------------------  -->

</nav>